<h3 style="font-size: 27px; font-weight: 500; color: #333; margin: 7px 0;"> Hi, <%= @user.first_name %> </h3>

<p style="color: #444444;">
  <b> Welcome! to new artist release </b>
</p>

<p style="color: #444444; font-size: 13px;">
  Since 2000, musical artists, models, and book authors worldwide have relied on New Artist Release to promote their
  talent to the world. As a promotion company located just outside of Dallas, Texas, we have more than 40 years
  experience and knowledge in the promotion, talent scouting, and music industries. Every member of our team is
  dedicated to providing our clients with the exposure and recognition they need to achieve their goals.
</p>

<p style="color: #444444; font-size: 13px;">
  Our founder has been a respected talent in the music industry for more than 30 years. Throughout his career, he
  advanced to the promotion side of the industry and eventually moved into management and production. He realized
  his passion for promoting after meeting countless other professionals working at talent searches and live concerts
  across the United States. After collaborating with a large variety of different bands, he took on agency
  management and promotion due to his natural ability to recognize talent.
</p>

<p style="color: #444444; font-size: 13px;">
  Above all, we are committed to giving our up-and-coming artists the opportunity to be noticed by industry
  professionals, talent scouts, and the general public for their unique and impressive flair. Currently, we are
  expanding a network between musicians across the globe to exchange information and share stories. This network
  also will serve as a resource for the music community to find professionals to fill vacancies in their band.
</p>

<p style="color: #444444; font-size: 13px;">
  Thanks You, <br/>
  NAR
</p>

<div style="padding: 15px; background: #EBEBEB; margin-top: 25px;">
  <div style="width: 47%; padding-right: 1.7%; display: inline-block; vertical-align: top;">
    <p style="color: #333333;"><b> Connect with Us: </b></p>
    <a href="https://facebook.com" style="padding: 5px; width: 100%; display: block; text-align: center; background: #3B5998; margin-bottom: 7px; color: #fff; text-decoration: none">
      Facebook
    </a>

    <a href="http://twitter.com" style="padding: 5px; width: 100%; display: block; text-align: center; background: #1DACED; margin-bottom: 7px; color: #fff; text-decoration: none">
      Twitter
    </a>
    <a href="http://plus.google.com" style="padding: 5px; width: 100%; display: block; text-align: center; background: #DB4A39; margin-bottom: 7px; color: #fff; text-decoration: none">
      Google+
    </a>
  </div>
  <div style="width: 47%; padding-left: 1.7%; display: inline-block; vertical-align: top; color: #333333;">
    <p style="color: #333333;"><b> Contact Info: </b></p>

    <p style=" font-size: 13px;">
      Phone: <b>xxx.xxxx.xxxx</b> <br/>
      Email:
      <a style="color: #2ba6cb; font-size: 16px;" href="emailto:info@newartistrelease.com ">info@newartistrelease.com </a>
    </p>
  </div>
</div>
<div style="padding: 20px 0; font-size: 15px; text-align: center; color: #333;">
  <a style="color: #2ba6cb;" href="#"> Terms </a> | <a style="color: #2ba6cb;" href="#"> Privacy </a> |
  <a style="color: #2ba6cb;" href="#"> Unsubscribe </a>
</div>