<div class="slider">
  <%= image_tag('promotion.png') %>
</div>
<div class="promotion-slogan">
  <h3 class="used-title">
    The Home of Today's Most Exciting Up-and-Coming Artist
  </h3>
  You can send and receive text messages using your Google Voice number on the Google Voice website <br/>
  Currently, Google Voice only supports short codes within the U.S
</div>
<div class="promotion-content-wrapper clearfix">
  <div class="site-content-wrapper">
    <div class="col-md-12 row clearfix">
      <div class="col-md-4">
        <%= image_tag('thumbnail1.png') %>
      </div>
      <div class="col-md-8 promotion-text">
        You can send and receive text messages using your Google
        Voice number on the Google Voice website, in
        the Google Voice app, through your SMS messaging app,or through Hangouts.
        International text messages: At this time, Google Voice
        supports sending text messages to phone numbers
        in the U.S. and Canada, but you can receive text messages from
        anywhere in the world. Currently, Google
        Voice only supports short codes within the U.S.
      </div>
    </div>
  </div>
</div>

<div class="promotion-more-quate">
  <div class="site-content-wrapper">
    <div class="box">
      <h3 class="white-title"> A Hub for Artist Promotion </h3>
      New Artist Release is a place artists, talent scouts, and fans come to discover the finest in the industry.
      We provide opportunities for people to listen to your music and vote on whether they like what they hear.
      With this invaluable feedback, you gain insight on the best direction to take your music and steps you need to
      take
      to
      be success on a large scale.
      Being able to compare and contrast yourself with artists in all genres allows you to further develop your skills.
      Before you know it , people everywhere will recognize you as a leader in your genre.
    </div>
    <div class="box">
      <h3 class="white-title"> Experienced, Honest Professionals </h3>
      New Artist Release is a place artists, talent scouts, and fans come to discover the finest in the industry.
      We provide opportunities for people to listen to your music and vote on whether they like what they hear.
      With this invaluable feedback, you gain insight on the best direction to take your music and steps you need to
      take
      to
      be success on a large scale.
      Being able to compare and contrast yourself with artists in all genres allows you to further develop your skills.
      Before you know it , people everywhere will recognize you as a leader in your genre.
    </div>
  </div>
</div>
<div>
  <div class="site-content-wrapper promotion-profile">
    <div class="portfolio-title white-title">
      Portfolio Item
    </div>

    <ul class="row gallery clearfix">
      <% @artist.profile_pictures.each do |picture| %>
          <li class="col-lg-2 col-md-4 col-sm-3 col-xs-4 col-xxs-12 bspHasModal" data-bsp-li-index="0">
            <%= link_to picture.image_url(:slider), rel: 'prettyPhoto[pp_gal]', title: 'Portfolio sample' do %>
                <%= image_tag(picture.image_url(:large), class: 'img-responsive') %>
            <% end %>
            <div class="text">Profile Image</div>
          </li>
      <% end %>
    </ul>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        $("a[rel^='prettyPhoto']").prettyPhoto({autoplay_slideshow: false, social_tools: '', show_title: ''});
    });
</script>
