<div class="site-content-wrapper clearfix">
  <div class="event-wrapper">
    <div class="customize_box">
      <h3 class="reset-top-margin"> Create a new event </h3>
      <%= render 'form' %>
    </div>
  </div>
</div>