<div class="custom-background">
  <div class="site-content-wrapper clearfix">
    <div class="event-wrapper">
      <div class="panel panel-default">
        <div class="panel-heading"> Create a new event</div>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>