.contact-us {
  .text-title {
    color: #dfdfdf;
    font-size: 20px;
    font-weight: bold;
  }
}

.social-link {
  display: inline-block;
  padding: 0;
  margin: 10px 0;
  li {
    list-style: none;
    display: inline-block;
    a {
      border-radius: 50%;
      color: #ffffff;
      display: block;
      text-align: center;
      width: 35px;
      &.facebook {
        background: #375490;
        padding: 8px 16px 6px 12px;
      }
      &.google {
        background: #DB4A39;
        padding: 7px 16px 7px 8px;
      }
      &.twitter {
        background: #00A0D0;
        padding: 8px 16px 6px 12px;
      }
      &.linkedin {
        background: #167F9D;
        padding: 7px 16px 7px 12px;
      }
    }
  }
}