body {
  background-color: #272726 !important;
}

.main-menu {
  background: black;
  text-align: center;
}

.main-menu {
  ul {
    background: black none repeat scroll 0 0;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    z-index: 100;
    li {
      display: inline-block;
    }
  }
}

.main-menu ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.main-menu ul li a:hover, .dropdown:hover {
  background: linear-gradient(#EDA21D, #EDA11D);
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 200px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown ul > li {
  display: block;
  float: none;
}

.dropdown ul > li a {
  text-align: left;
}

.logo-section {
  text-align: center;
  padding: 10px 0;
  color: #ffffff;
  h3 {
    margin: 0 0 5px 0;
    font-weight: bold;
  }
  p {
    font-weight: bold;
    margin-bottom: 5px;
  }
}

.slider {
  img {
    width: 100%;
  }
}

.bg-box {
  margin: 0 auto;
  padding-top: 20px;
  width: 875px;
}

.lead-text {
  color: #eda11d;
  line-height: 1.4;
  margin-bottom: 20px;
}

.bg-box-img {
  float: left;
  padding-right: 30px;
  padding-top: 30px;
}

.bg-box-text {
  float: left;
  margin-left: 10px;
}

.bg-box-text p {
  color: white;
  text-align: justify;
  width: 590px;
}

.btn-readmore {
  background-image: linear-gradient(to bottom, #eda11d 0px, #eda11d 100%);
  background-repeat: repeat-x;
  border-color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 8px 30px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.lead-text_promotion {
  color: #eda11d;
  padding-bottom: 10px;
  text-align: center;
}

.lead-text-p_promotion {
  color: white;
}

.photo-text {
  color: white;
}