.promotion-slogan {
  margin: 20px 0 40px 0;
  text-align: center;
  color: #dfdfdf;
}

.promotion-content-wrapper {
  padding: 35px 0;
  background: #000000;
}

.promotion-text {
  color: #dfdfdf;
  line-height: 22px;
}

.promotion-more-quate {
  text-align: center;
  margin: 50px;
  .box {
    margin-bottom: 10px;
    color: #dfdfdf;
    line-height: 22px;
  }
}