.promotion-slogan {
  margin: 20px 0 40px 0;
  text-align: center;
  color: #dfdfdf;
}

.promotion-content-wrapper {
  padding: 35px 0;
  background: #000000;
}

.promotion-text {
  color: #dfdfdf;
  line-height: 22px;
}

.promotion-more-quate {
  text-align: center;
  margin: 50px;
  .box {
    margin-bottom: 10px;
    color: #dfdfdf;
    line-height: 22px;
  }
}

.promotion-profile {
  ul {
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 10px;
    }
  }
  .text {
    background: #fff none repeat scroll 0 0;
    color: #666;
    font-family: "Bree Serif";
    font-size: 11px;
    padding: 12px;
  }
}

.portfolio-title {
  text-align: center;
  border-bottom: 1px dashed #ccc;
  padding: 0 0 5px 0;
  margin-bottom: 15px;
}