.search-view {
  background: white;
  border-bottom: solid 1px #CCCCCC;
  color: black;
  padding: 8px 2px 8px 3px;
  &:first-child {
    margin-top: 2%;
  }
  &:last-child {
    margin-bottom: 2%;
  }
  .image-view {
    height: 100%;
    img {
      width: 50%;
      box-shadow: 2px 2px 2px #888888;
    }
  }
  .info-view {
    margin-top: 0;
    padding-top: 0;
    color: black;
  }

}