.search-result-wrapper {
  background: #ffffff;
  list-style: none;
  margin: 0;
  padding: 0;
  &:first-child {
    margin-top: 2%;
  }
  &:last-child {
    margin-bottom: 2%;
  }
  .artist-info {
    border-bottom: solid 1px #CCCCCC;
  }
  .search-profile-img-wrapper {
    padding: 10px;
    text-align: center;
    width: 100px;
    float: left;
    img {
      border: none;
      width: 85px;
    }
  }
  .artist-info-wrapper {
    width: calc(100% - 120px);
    float: left;
    color: #333333;
    .basic-info {
      padding-top: 10px;
      h4 {
        margin-bottom: 0px;
      }
    }
    .address-info {
      padding-top: 10px;
    }
  }
  .no-content {
    .alert {
      padding-left: 30px;
    }
  }
}
