.search-result-wrapper {
  background: #ffffff;
  list-style: none;
  margin: 0;
  padding: 0;
  &:first-child {
    margin-top: 2%;
  }
  &:last-child {
    margin-bottom: 2%;
  }
  .artist-info {
    border-bottom: solid 1px #CCCCCC;
  }
  .search-profile-img-wrapper {
    padding: 10px;
    text-align: center;
    width: 73px;
    float: left;
    img {
      border: solid 1px #CCCCCC;
      width: 55px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
  }
  .artist-info-wrapper {
    width: calc(100% - 75px);
    float: left;
    color: #333333;
    .basic-info {
      h4 {
        margin-bottom: 2px;
        color: #337ab7;
        font-weight: bold;
      }
      p {
        color: #444444;
      }
      .artist-track {
        font-size: 14px;
        color: #999999;
        margin-bottom: 5px;
      }
    }
    .address-info {
      padding-top: 10px;
      color: #999999;
    }
  }
  .no-content {
    .alert {
      padding-left: 30px;
    }
  }
}
.pagination-section {
  text-align: center;
}